{% extends "base.html" %}

{% block title %}
    <title>Adelin Gruian - Home</title>
{% endblock %}

{% block content %}

    <section id="title">

        <div class="container-fluid row">
            <div class="col-lg-6">
                <img src="/static/images/Digital%20tools-pana.png" width=100% alt="">
            </div>
            <div class="col-lg-6">
                <h1 class="title-area">Hi, I'm Adelin.</h1>
                <h1 class="title-area">Nice to meet you</h1>
                <p class="title-area">I'm the new kid on the block when it comes to programming. Looking to get my first
                    job in the IT industry. I have a pack of personal projects that I have worked on. </p>
                <p class="title-area">I'm curious, and I enjoy work that challenges me to learn something new and stretch
                    me in a different direction.</p>
            </div>
        </div>

    </section>

    <section id="projects">
        <div class="container-fluid">
            <h2 class="text-center">Projects</h2>
            <div class="project-card">
                <div class="row">
                    <div class="info col-lg-6">
                        <h1 class="card-heading">Online Shop</h1>
                        <div class="small-tech-container">
                            <p class="small-tech"> HTML </p>
                            <p class="small-tech"> CSS </p>
                            <p class="small-tech"> Bootstrap </p>
                            <p class="small-tech"> Python </p>
                            <p class="small-tech"> Flask </p>
                            <p class="small-tech"> SQLite </p>
                            <p class="small-tech"> Stripe </p>
                        </div>
                        <p class="project-description"> An online shop with an admin panel, stock management and payment integration </p>
                        <div class="project-button-container">
                            <a href="" target="_blank"><button class="project-button"><i class="fa-solid fa-circle-play"></i> Demo</button></a>
                            <a href="https://github.com/adelingruian/OnlineShop" target="_blank"><button class="project-button"><i class="fa-brands fa-github"></i> Code</button></a>
                        </div>
                    </div>
                    <div class="image col-lg-6">
                        <img src="static/images/todo_img.png" alt="">
                    </div>
                </div>
            </div>
            <div class="project-card">
                <div class="row">
                    <div class="info col-lg-6">
                        <h1 class="card-heading">MyNotes</h1>
                        <div class="small-tech-container">
                            <p class="small-tech"> HTML </p>
                            <p class="small-tech"> CSS </p>
                            <p class="small-tech"> JavaScript</p>
                            <p class="small-tech"> Bootstrap </p>
                            <p class="small-tech"> Python </p>
                            <p class="small-tech"> Flask </p>
                            <p class="small-tech"> SQLite </p>
                        </div>
                        <p class="project-description"> An app to take daily notes with and authentification module. </p>
                        <div class="project-button-container">
                            <a href="https://mynotes-newapp.herokuapp.com/" target="_blank"><button class="project-button"><i class="fa-solid fa-circle-play"></i> Demo</button></a>
                            <a href="https://github.com/adelingruian/MyNotes/" target="_blank"><button class="project-button"><i class="fa-brands fa-github"></i> Code</button></a>
                        </div>
                    </div>
                    <div class="image col-lg-6">
                        <img src="static/images/mynotes_img.png" alt="">
                    </div>
                </div>
            </div>
            <div class="project-card">
                <div class="row">
                    <div class="info col-lg-6">
                        <h1 class="card-heading">To-Do List</h1>
                        <div class="small-tech-container">
                            <p class="small-tech"> HTML </p>
                            <p class="small-tech"> CSS </p>
                            <p class="small-tech"> Bootstrap </p>
                            <p class="small-tech"> NodeJS </p>
                            <p class="small-tech"> Express </p>
                            <p class="small-tech"> MongoDB </p>
                        </div>
                        <p class="project-description"> A to-do list. </p>
                        <div class="project-button-container">
                            <a href="https://evening-beach-49574.herokuapp.com/" target="_blank"><button class="project-button"><i class="fa-solid fa-circle-play"></i> Demo</button></a>
                            <a href="https://github.com/adelingruian/ToDoJS.git" target="_blank"><button class="project-button"><i class="fa-brands fa-github"></i> Code</button></a>
                        </div>
                    </div>
                    <div class="image col-lg-6">
                        <img src="static/images/todo_img.png" alt="">
                    </div>
                </div>
            </div>

            <div class="project-card">
                <div class="row">
                    <div class="info col-lg-6">
                        <h1 class="card-heading">Simon Game</h1>
                            <div class="small-tech-container">
                                <p class="small-tech"> HTML </p>
                                <p class="small-tech"> CSS </p>
                                <p class="small-tech"> JavaScript </p>
                            </div>
                        <p class="project-description"> A simple game </p>
                        <div class="project-button-container">
                            <a href="https://adelingruian.github.io/SimonGame/" target="_blank"><button class="project-button"><i class="fa-solid fa-circle-play"></i> Demo</button></a>
                            <a href="https://github.com/adelingruian/SimonGame/" target="_blank"><button class="project-button"><i class="fa-brands fa-github"></i> Code</button></a>
                        </div>
                    </div>
                    <div class="image col-lg-6">
                        <img src="static/images/simon_img.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="cv">
        <div class="container-fluid">
            <h2 class="download-title">Download CV</h2>
        </div>
        <a href="{{ url_for('download') }}" target="_blank"><button class="blue-button">Download</button></a>

    </section>


    <section id="tehnologies">
        <div class="container-fluid">
        <h2> Technologies, frameworks and libraries </h2>
            <div class="tehnologies row">
                <div class="col-lg-4 col-md-6">
                    <i class="fa-solid fa-terminal"></i>
                    <h3><strong>Backend</strong></h3>
                    <ul>
                        <li>Python</li>
                        <li>Pandas</li>
                        <li>Beaufulsoup</li>
                        <li>Selenium</li>
                        <li>Flask</li>
                        <li>API</li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6">
                    <i class="fa-solid fa-code"></i>
                    <h3><strong>Frontend</strong></h3>
                    <ul>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>Bootstrap</li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <i class="fa-solid fa-database"></i>
                    <h3><strong>Databases</strong></h3>
                    <ul>
                        <li>SQLite</li>
                        <li>SQLAlchemy</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

{% endblock %}